.index-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.index-form {
  flex: 1 0 auto;
  max-width: 700px;
}

.index-input {
  flex: 1 0 auto;
}

.input-group-btn button:hover {
  cursor: pointer;
}
