<div class="container">
{{!--   <div class="index-wrapper">
    <div class="input-group input-wrapper">
      <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Parse!</button>
      </span>
    </div>
  </div> --}}

  <div class="index-wrapper">
    <form class="form-inline index-form">

      <div class="input-group index-input">
        <input type="text" class="form-control" id="index-input" value="https://www.yelp.com/biz/din-tai-fung-arcadia-3" placeholder="https://www.yelp.com/biz/din-tai-fung-arcadia-3" aria-label="https://www.yelp.com/biz/din-tai-fung-arcadia-3">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="submit">Parse!</button>
        </span>
      </div>

    </form>
  </div>
</div>


