<div class="container">
  <div class="index-wrapper">
    <div class="text-center text-wrap">
      <p class="text-msg"></p>
    </div>

    <form class="form-inline index-form">
      <div class="input-group index-input">
        <input type="text" class="form-control" id="index-input" value="https://www.yelp.com/biz/din-tai-fung-arcadia-3" placeholder="https://www.yelp.com/biz/din-tai-fung-arcadia-3" aria-label="https://www.yelp.com/biz/din-tai-fung-arcadia-3">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="submit">Parse!</button>
        </span>
      </div>
    </form>

    <div class="text-center btn-wrap">
      <button class="btn btn-secondary recent-btn">View Most Recent</button>
      <button class="btn btn-secondary dl-btn">Download Most Recent</button>
    </div>
  </div>
</div>


